<link rel="stylesheet" href="~/css/home.css">


<div class="home-container">
    <section class="home" id="home">
        <div class="content">
            <h3>Fitness</h3>
            <p>Fitness is not only a way to keep fit and improve your health, but also a great way to 
                improve your mood and increase your energy levels for the whole day. 
                Regular fitness classes help strengthen the cardiovascular system, 
                improve blood circulation, reduce stress levels and improve sleep quality. 
            </p>
        </div>
    </section>
</div>
