<link rel="stylesheet" href="~/css/product-exercise-index.css">
<link rel="stylesheet" href="~/css/index.css">


<div class="content">
    <section class="index">
        <div class="description">
            <h3>Workout</h3>
            <p>
                Physical exercise improves physical fitness, cardiovascular and immune systems, 
                and mental health. They strengthen muscles, increase stamina, improve lung function, 
                reduce stress, and improve self-esteem. 
                Physical exercise is an effective way to maintain health.
            </p>
        </div>
        <div class="options">
            <div class="list-imgs">
                <img src="~/images/exercise-list-1.png" alt="Exercise list image">
                <img src="~/images/exercise-list-2.png" alt="My exercise list image">
            </div>
            <div class="btns">
                <a asp-controller="Exercise" asp-action="GetExercises" class="all-elements-list-btn">Exercise list</a>
                <a asp-controller="ExerciseList" asp-action="GetExercises" class="my-elements-list-btn">My Exercises</a>
            </div>
        </div>
    </section>
</div>  