<link rel="stylesheet" href="~/css/product-exercise-index.css">
<link rel="stylesheet" href="~/css/index.css">



<div class="content">
    <section class="index">
        <div class="description">
            <h3>Workout</h3>
            <p>
                Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Силуэт ведущими грустный злых большой,
                ручеек диких бросил большого щеке переулка имеет однажды на берегу возвращайся! Вскоре они города заманивший,
                эта свое рекламных, океана переулка снова.
            </p>
        </div>
        <div class="options">
            <div class="carts">
                <img id="cart1" src="~/images/exercise-list-1.png" alt="1st image">
                <img id="cart2" src="~/images/exercise-list-2.png" alt="2nd image">
            </div>
            <div class="btns">
                <a asp-controller="Exercise" asp-action="GetExercises" class="product1">Exercise list</a>
                <a asp-controller="ExerciseList" asp-action="GetExercises" class="product2">My Exercises</a>
            </div>
        </div>
    </section>
</div>  