@model AccountRegisterViewModel

@{
	Layout = "_LoginWindow";
}

<link rel="stylesheet" href="~/css/account-register.css" /> 


<form asp-controller="Account" asp-action="Register" class="register-form">
	<input asp-for="accountEmail" class="input-field" placeholder="Email" required />
	<span asp-validation-for="accountEmail" style="color:red; font-size: 12px; "></span>
	<input asp-for="accountPassword" type="password" class="input-field" placeholder="Password" required />
	<span asp-validation-for="accountPassword" style="color:red; font-size: 12px; "></span>
	<input asp-for="accountPasswordConfirm" type="password" class="input-field" placeholder="Password confirmation" required />
	<span asp-validation-for="accountPasswordConfirm" style="color:red; font-size: 12px; "></span>
	<button type="submit" class="register-submit-btn">Regiser</button>
</form>
