<link rel="stylesheet" href="~/css/product-exercise-index.css">
<link rel="stylesheet" href="~/css/index.css">


<div class="content">
    <section class="index">

        <div class="description">
            <h3>Nutrition</h3>
            <p>
                Nutrition is one of the key components of a successful fitness program. 
                Proper and balanced nutrition helps to maintain health, improve physical 
                fitness and increase the effectiveness of training. It provides the body 
                with essential nutrients, vitamins and minerals that support efficient muscle function, 
                accelerate tissue regeneration and repair, and help reduce stress levels and improve mood.
            </p>
        </div>
        <div class="options">
            <div class="carts">
                <img id="cart1" src="~/images/product-cart-1.png" alt="1st image">
                <img id="cart2" src="~/images/product-cart-2.png" alt="2nd image">
            </div>
            <div class="btns">
                <a asp-controller="Product" asp-action="GetProducts" class="product1">Grocery list</a>
                <a asp-controller="ProductList" asp-action="GetProducts" class="product2">My Products</a>
            </div>
        </div>
    </section>
</div>  