.content {
    background-color: #2059A8;
    background-size: cover;
    background-position: center;
}

    .content .index {
        min-height: 88vh;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

        .content .index .description {
            max-width: 60rem;
        }

            .content .index .description h3 {
                font-size: 6rem;
                text-transform: uppercase;
                color: #fff;
            }

            .content .index .description p {
                font-size: 2rem;
                font-weight: lighter;
                line-height: 1.8;
                padding: 1rem 0;
                color: #eee;
            }