body {
    background: #2059A8;
}

.form-box {
    height: 500px;
    width: 850px;
    margin: 7% auto;
    margin-bottom: 2.7rem;
    background: #001b3e;
    border-radius: 20px;
    padding: 5px;
    overflow: hidden;
}

    .form-box .name {
        margin: 20px auto;
        margin-top: 30px;
        font-size: 17px;
        text-align: center;
        width: 230px;
        padding: 10px 20px;
        display: block;
        background: linear-gradient(to right, #78F0DE, #3094FF);
        border: 0;
        outline: none;
        border-radius: 30px;
    }

    .form-box .lbl-data {
        margin: 20px auto;
        margin-top: 30px;
        font-size: 17px;
        text-align: center;
        width: 130px;
        padding: 10px 20px;
        display: block;
        background: linear-gradient(to right, #78F0DE, #3094FF);
        border: 0;
        outline: none;
        border-radius: 30px;
    }

    .form-box .content {
        margin-top: 40px;
        display: flex;
    }

        .form-box .content .column1 {
            width: 420px;
            float: left;
            align-items: center;
        }

        .form-box .content .column1 img {
            margin-left: 60px;
            height: 30rem;
            width: 30rem;
            border: .3rem solid rgba(32, 89, 168, 1);
            border-radius: 7%;
        }

        .form-box .content .column2 {
            width: 420px;
            float: left;
            align-items: center;
        }

        .form-box .content .input-group .back-btn {
            margin: 60px auto 20px auto;
            font-size: 14px;
            text-align: center;
            width: 100px;
            padding: 8px 16px;
            display: block;
            background: linear-gradient(to right, #78F0DE, #3094FF);
            border-radius: 30px;
            cursor: pointer;
        }

        .form-box .content .input-group .data-box {
            position: relative;
            width: 300px;
            margin: 0 60px 30px 60px;
        }

            .form-box .content .input-group .data-box input, select {
                width: 100%;
                padding: 8px;
                border: 1px solid rgba(255, 255, 255, 0.25);
                background-color: #001b3e;
                border-radius: 5px;
                outline: none;
                color: #fff;
                font-size: 1.5em;
            }

            .form-box .content .input-group .data-box textarea {
                width: 100%;
                height: 230px;
                padding: 8px;
                overflow: hidden;
                resize: none;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.25);
                border-radius: 5px;
                outline: none;
                font-size: 1.5em;
            }


            .form-box .content .input-group .data-box span {
                position: absolute;
                left: 0;
                text-transform: uppercase;
            }


        .form-box .content .input-group input ~ span,
        .form-box .content .input-group select ~ span,
        .form-box .content .input-group textarea ~ span {
            color: #00dfc4;
            background: #001b3e;
            transform: translateX(10px) translateY(-3px);
            font-size: 0.85em;
            padding: 0 10px;
            border-left: 1px solid #00dfc4;
            border-right: 1px solid #00dfc4;
            letter-spacing: 0.2em;
        }